#nav {

    background: #191970;
}

.footer {
    background: #191970;
    margin: auto;
    width: 100%;
    margin-top: 200px ;
    bottom: 0;
    position: relative;
}

#imgFooter {
    height: 120px;
    float: right;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.imgWelcome {
    height: 150px;
    top: 25%;
    right: 30%;
    position: absolute;
}

#fonteHome {
    font-family: Agenda;
    font-size: 25px;
    letter-spacing: 0, 5px;
    color: whitesmoke;
}

.imgi{
	max-width:100%;
	height:auto;
}