#nav {
    padding: 20px;
    text-align: center;
    background-color: #191970;
}

.footer {
    font-family: 'Roboto', sans-serif;
    background: #191970;
    margin: auto;
    width: 100%;
    margin-top: 200px;
    bottom: 0;
    position: relative;
}

.Titulo {
    font-family: 'Roboto', sans-serif;
}

.Texto {
    font-family: 'Roboto', sans-serif;
}

#imgFooter {
    height: 120px;
    float: right;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 5px;
}

.imgWelcome {
    height: 150px;
    top: 25%;
    right: 30%;
    position: absolute;
}

#fonteHome {
    font-size: 25px;
    letter-spacing: 0, 5px;
    color: whitesmoke;
}

.navHome {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .navHome:hover, .navHome:focus, .navHome:active {
    background-color: orangered;
    color: orangered;
  }

  .navGrande {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .navGrande:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: orangered;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navGrande:hover:before, .navGrande:focus:before, .navGrande:active:before {
    left: 0;
    right: 0;
  }

.shadowCard {
    box-shadow: 5px 8px 21px #0f0a54;
    border: midnightblue;
}

.thAbout {
    background-color: midnightblue;
    color: white;
}

.tableAbout {
    border: 3px solid midnightblue;
}